/* Reset Style */
:root{
    --primary-color : #2DA884;
    --section-padding : 5% 0%;
    --title-size : 25px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Montenegrin Gothic One", serif;
    box-sizing: border-box;
    /* rtl ==> right to left */
    /* ltr (default) ==> left to right */
    direction: rtl;
}





/* Global style */
.container{
    width: 80%;
    margin: auto;
}
.padding-top-bottom{

    padding: var(--section-padding);
}
.text-primary{
    color: var(--primary-color);
}

h4 , h5 {
    font-size: var(--title-size);
}

.prespective{
    perspective: 1000px;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}


/* Custom style */

.rotate-card{
    width: 30%;
    padding: 6% 2%;
    background-color: teal;
    color: white;
    border-radius: 10px;
    transition: 3s;
}
.rotate-card:hover{
    transform: rotateY(180deg);
}

.flip-card{
    width: 30%;

}
.card-inner{
    position: relative;
    transition: 2s;
    transform-style: preserve-3d;
}
.card-front{
    background-color: var(--primary-color);

}
.card-back{
    background-color: goldenrod;
    position: absolute;
    top: 0;
    width: 100%;
    transform: rotateY(180deg);
}

.card-front , .card-back{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    height: 200px;
    border-radius: 10px;
    backface-visibility: hidden;

}

.flip-card:hover .card-inner{
    transform: rotateY(180deg);
}
.custom-height{
    height: 100vh;
}

.animation-card{
    width: 100px;
    height: 100px;
    background-color: black;
    /* animation-name: changeBgColor ;
    animation-duration: 4s; */
    /* ease , ease-in , ease-out , ease-in-out , linear */
    /* animation-timing-function: linear; */
    /* backwords , both ==> search */
    /* animation-fill-mode: forwards; */
    /* animation-delay: 3s; */
    /* animation-iteration-count: 2; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: reverse;
    animation-direction: alternate;
    animation-direction: alternate-reverse; */

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

     animation: changeBgColor 3s linear infinite; 

    

}

.animation-card:hover{
    /* background-color: aqua; */
    /* animation-play-state: paused; */
    /* animation: changeBgColor 3s linear infinite; */
}


@keyframes changeBgColor {
    /* from{
        background-color: lightblue;
    }
    to{
        background-color: red;
    } */
     0%{
        background-color: aqua;
     }
     25%{
        background-color: goldenrod;
        border: 4px solid red;
        transform: translateX(300px);
     }
     50%{
        transform: scale(1.5) ;
        transform: translate(300px , 300px);
     }
     75%{
        background-color: red;
        transform: translate(0px , 300px);
     }
     100%{
        /* transform: rotate(180deg) translateY(-200px); */
     }
}



.custom-card{
    border: 2px solid teal;
         width: calc(100% / 3 - 2%);
    margin-right: calc(100% - 98%);
    position: relative;
}
.square{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    position: absolute;
    top: calc(50% - 25px);

}




